<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/basic.css" />
    <title>表单</title>
  </head>
  <body>
    <h2 class="title">用于发起POST请求的表单</h2>
    <form method="POST" action="/post">
      <strong>用户名：</strong><br />
      <input name="userName" /><br />
      <strong>年龄：</strong><br />
      <input name="age" /><br />
      <strong>博客：</strong><br />
      <input name="blog" /><br />
      <button type="submit">提交</button>
    </form>
  </body>
</html>
