<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新闻页</title>
  </head>
  <body>
    {{ include './public/header.html' }}
    <h3>新闻页面</h3>
    <p>接收到了name：{{data.name}}</p>
    <div>
      {{@data.html}}
    </div>
    <div>
      {{if data.num>20}} 大于20 {{else}} 小于20 {{/if}}
    </div>
    <div>
      <ul>
        {{each data.list}}
        <li>{{$index}}---{{$value}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
