<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title是从后台传递过来的值，也可以叫作模板中的变量 -->
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello EJS</p>
  </body>
</html>
